## #############################################################################
## .gitignore
##
## - Glob file patterns Git should ignore. 
## - Organized by Program / Mime Type.
##
## #############################################################################



## =============================================================================
## Editor Files
## =============================================================================

\#*
*~
\#*\#
*.log
*.tmp



## =============================================================================
## Office Files
## =============================================================================

## Document / Word ---------------------
*.doc
*.docx
*.odt

## Presentation / Power Point ----------
*.odp
*.ppt
*.pptx

## Spreadsheet / Excel -----------------
*.ods
*.xls
*.xlsx



## =============================================================================
## R / RStudio Files
## =============================================================================

.Rhistory
.Rdata
.RData
*.Rproj*
*cache*
*latex*
passwords.R



## =============================================================================
## Other Files
## =============================================================================

## HTML --------------------------------
##*.htm
##*.html

## LaTeX -------------------------------
*.out
*.tex

## Other -------------------------------
.directory

## PDF ---------------------------------
*.pdf

## SAS ---------------------------------
##*.log
##*.sas
##*.sas7bdat
##*.sas7bview
##*.stx

## SPSS --------------------------------
##*.sav
##*.sps

##*.
## Text --------------------------------
##*.csv
##*.dat
##*.txt