---
layout: default
title: Blood Sugars
---
<h2>About:</h2>

<p>
    A place for me to learn more about diabetes self-management and
    prediction using CGM data obtained from our <a href="http://www.nightscout.info/">Nightscout</a> server. This
    repo will be used for exploratory purposes. There will eventually
    be other two other repos. The first will be dedicated to a shiny
    dashboard. The second will be for an R package I intend to develop
    by the end of 2015. When they are ready, I'll publish links to
    them here and demo their usage.
</p>

<h2>Disclaimers:</h2>
<ul>
    <li>None of this code has been reviewed by the FDA. Use at your
    own risk.</li>
    <li>I am not responsible for your health or diabetes management.</li>
    <li>I welcome contributions. If you find a bug, let me know.</li>
    <li><a href="https://twitter.com/hashtag/wearenotwaiting">#WEARENOTWAITING</a></li>
</ul>
<hr width="100%" style="text-align:center;margin-right:0">
<br/>
<h2>Project News:</h2>

<!-- Show last 5 posts here -->
{% for post in paginator.posts %}
<article>

    <!-- Copy this pattern here. Replacing header with div. -->
    <div class="post">
        <h2><a href="{{site.url}}{{post.url}}">{{ post.title }}</a></h2>
        <span class="date"><i class="icon-clock"></i><time datetime="{{post.date|date:"%F"}}">{{post.date|date:"%b %d, %Y"}}</time></span><br/>
        <span class="category"><i class="icon-tag"></i> {{ post.categories | category_links }}</span><br/>
        <span class="author"><i class="icon-user"></i> {% if post.author %}{{post.author}}{% else %}{{site.author}}{% endif%}</span>
    </div>
    
    <div class="entry">{{ post.excerpt }}</div>
    
</article>
{% endfor %}


<div id="paginator">
    {% if paginator.next_page %}
    <a href="{{site.url}}/page{{paginator.next_page}}">
        &laquo; Older Posts</a>
    {% endif %}

    {% if paginator.previous_page %}
    {% if paginator.previous_page == 1 %}
    <span class="more">
        <a href="{{site.url}}/">
            Newer Posts &raquo; </a>
    </span>
    {% else %}
    <span class="more">
        <a href="{{site.url}}/page{{paginator.previous_page}}">
            Newer Posts &raquo; </a>
    </span>
    {% endif %}
    {% endif %}
</div>
