---
layout: default
title: Blood Sugars
---
<h2>About:</h2>

<p>
    This is a place for me to learn how to work with diabetes
    blood glucose data obtained from the <a href="http://www.nightscout.info/">Nightscout Project</a>.
</p>

<blockquote>
    <p>The blood sugar concentration or blood glucose level is the amount
        of glucose (sugar) present in the blood of a human or animal. The
        body naturally tightly regulates blood glucose levels as a part of
        metabolic homeostasis.
        <br/><a href="https://en.wikipedia.org/wiki/Blood_sugar" style="float:right;">https://en.wikipedia.org/wiki/Blood_sugar</a>
    </p>
</blockquote>
<br/>
<hr width="100%" align="center">
<br/>
<h2>Project News:</h2>

<!-- Show last 5 posts here -->
{% for post in paginator.posts %}
<article>

    <!-- Copy this pattern here. Replacing header with div. -->
    <div class="post">
        <h2><a href="{{site.url}}{{post.url}}">{{ post.title }}</a></h2>
        <span class="date"><i class="icon-clock"></i><time datetime="{{post.date|date:"%F"}}">{{post.date|date:"%b %d, %Y"}}</time></span><br/>
        <span class="category"><i class="icon-tag"></i> {{ post.categories | category_links }}</span><br/>
        <span class="author"><i class="icon-user"></i> {% if post.author %}{{post.author}}{% else %}{{site.author}}{% endif%}</span>
    </div>
    
    <div class="entry">{{ post.excerpt }}</div>
    
</article>
{% endfor %}


<div id="paginator">
    {% if paginator.next_page %}
    <a href="{{site.url}}/page{{paginator.next_page}}">
        &laquo; Older Posts</a>
    {% endif %}

    {% if paginator.previous_page %}
    {% if paginator.previous_page == 1 %}
    <span class="more">
        <a href="{{site.url}}/">
            Newer Posts &raquo; </a>
    </span>
    {% else %}
    <span class="more">
        <a href="{{site.url}}/page{{paginator.previous_page}}">
            Newer Posts &raquo; </a>
    </span>
    {% endif %}
    {% endif %}
</div>
