div .entry {
    background-color: #e3e7ea;
}

body {
    font-family: Verdana, Arial, SunSans-Regular, Sans-Serif;
    color: black;
    background-color: #e3e7ea;
    padding-left: 5%;
    padding-right: 5%;
}

body>header h1>a {
    text-decoration: none;
}

body>header h4 {
    margin-top: -10px;
}

h1,h2,h3,h4 {
    width: 100%;
    min-width: 840px;
}

hr {
    width: 100%;
    min-width: 840px;
}

code {
    background-color: #f1f3f4;
    padding-left: 3px;
    padding-right: 3px;
}

pre {
    background-color: lightgray;
    margin-left: 30px;
    padding: 5px;
    width: 80%;
}

table {
    border: none;
}

td {
    padding-left: 20px;
}

main {

    width: 75%;
    min-width: 600px;
    margin-left: 25%;
    #display: inline-block;
    padding-left: 1%;
    padding-right: 1%;
}

header {
    width: 100%;
    background-color: #313f3f;
    display: block;
    color: white;
    padding-left: 1%;
    padding-right: 1%;
}

header.top{
    #position: fixed;
    #display:inline-block;
}

header a {
    color: white;
}

header a:visited {
    color:white;
}

header.post {
    width: 100%;
    color: #070909;
    background-color: #c7cdcd;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: .125%;
    padding-top: .125%;
}

header.post a {
    color: #070909;
}

header.post a:visited {
    color: rgba(7,8,9,0.75);
}

nav {
    float: left;
    width: 20%;
    height: 100%;
    background-color: #475b5b;
    #border: 2px solid black;
    top: auto;
    color: #f1f3f4;
    padding-left: 1%;
    padding-right: 1%;
    clear: left;
    #display:inline-block;
    #position: fixed;
}

nav a {
    color: #f1f3f4;
}

nav a:visited {
    color: #f1f3f4;
}

nav li {
    margin-left: 1%;
    list-style: none;
}

footer {
    clear: both;
    width: 100%;
}

article {
    margin: 2%;
}

article .entry {
    margin-left: 2%;
    padding: 2%;
    background-color: #eceeee;
}

article .entry img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #eceeee;
}

article header span {
    margin-top: -10px;
    margin-bottom: -3px;
    margin-left: 2%;
}

article header h2 {
    margin-bottom: 3px;
}

section address {
    margin-left: 2%;
}

#paginator {
    padding: 2%;
}

#paginator a {
    text-decoration: none;
}

.more {
    margin-left: 80%;
}