
<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="chrome=1">
        <title>{% if page.title %} {{ page.title }} | {% endif %} {{ site.name }}</title>

        <link rel="stylesheet" href="https://choens.github.io/blood-sugars/stylesheets/styles.css">
        <link rel="stylesheet" href="https://choens.github.io/blood-sugars/stylesheets/github-light.css">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        <meta name="description" content="{{site.description}}"/>
        <meta name="author" content="{{site.author}}"/>
        <link rel="author" href="humans.txt"/>
        <link rel="alternate" type="application/rss+xml" title="RSS Feed" href="{{site.url}}/feed.xml" />
        <link rel="stylesheet" href="{{site.eurl}}/resources/fontello/css/fontello.css">
        <link rel="stylesheet" href="{{site.url}}/resources/fontello/css/animation.css">
        <!--[if lt IE 9]>
        <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    </head>


    
    <body>
        <div class="wrapper">

            <!-- -------------------- HEADER -------------------- -->
            <header>
                <h1>Blood Sugars</h1>
                <h5>Using Nightscout CGM Data</h5>

                
                <p class="view">
                    <i class="icon-home"></i> <a href="{{site.url}}">Blood Sugars Home</a> <br/>
                    <i class="icon-link"></i> <a href="{{site.url}}about.html">About This Project</a> <br/>
                    <i class="icon-link"></i> <a href="https://github.com/Choens/blood-sugars">View the Project on GitHub</a> <br/>
                    <i class="icon-mail"></i> <a href="mailto:andy.choens@gmail.com?Subject=Blood Sugars Project">Contact Author</a> <br/>
                </p>


                <ul>
                    <li><a href="https://github.com/Choens/blood-sugars/zipball/master">Download <strong>ZIP File</strong></a></li>
                    <li><a href="https://github.com/Choens/blood-sugars/tarball/master">Download <strong>TAR Ball</strong></a></li>
                    <li><a href="https://github.com/Choens/blood-sugars">View On <strong>GitHub</strong></a></li>
                </ul>
            </header>


            
            <!-- -------------------- Content -------------------- -->
            <section>

                {{ content }}

            </section>


            
            <!-- -------------------- FOOTER -------------------- -->
            <footer>
                <p>This project is maintained by <a href="https://github.com/Choens">Andy Choens</a></p>
                <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
            </footer>
            
        </div>
        <script src="javascripts/scale.fix.js"></script>
        
    </body>
</html>
